[Container]
Exec=--no-sandbox --disable-gpu --disable-dev-shm-usage '--remote-debugging-address=0.0.0.0' '--remote-debugging-port=9222' --hide-scrollbars
Image=gcr.io/zenika-hub/alpine-chrome:123
Network=karakeep.network
Pod=karakeep.pod

[Service]
Restart=always
