[Unit]
Requires=windmill-db.service
After=windmill-db.service

[Container]
Environment=PORT=8002 MODE=indexer
EnvironmentFile=.env
ExposeHostPort=8002
Image=ghcr.io/windmill-labs/windmill:main
Network=windmill.network
Pod=windmill.pod
Pull=always
Volume=index:/tmp/windmill/search
Volume=worker_logs:/tmp/windmill/logs

[Service]
Restart=always
