[Unit]
Requires=windmill-db.service
After=windmill-db.service

[Container]
Environment=MODE=worker WORKER_GROUP=native NUM_WORKERS=8 SLEEP_QUEUE=200
EnvironmentFile=.env
Image=ghcr.io/windmill-labs/windmill:main
Network=windmill.network
Pod=windmill.pod
Pull=always
Volume=worker_logs:/tmp/windmill/logs

[Service]
Restart=always
