[Unit]
Requires=windmill-db.service
After=windmill-db.service

[Container]
ContainerName=windmill_server
Environment=MODE=server
EnvironmentFile=.env
ExposeHostPort=8000
ExposeHostPort=25
Image=ghcr.io/windmill-labs/windmill:main
Pod=windmill.pod
Pull=always
Volume=worker_logs:/tmp/windmill/logs

[Service]
Restart=always
