[Unit]
Requires=db.service
After=db.service

[Container]
ContainerName=windmill-indexer
Environment=PORT=8002 MODE=indexer
ExposeHostPort=8002
Image=ghcr.io/windmill-labs/windmill:main
Network=windmill.network
Pull=always
Volume=windmill_index:/tmp/windmill/search
Volume=worker_logs:/tmp/windmill/logs

[Service]
Restart=always
