[Unit]
Description=Karakeep Web Service
Wants=meilisearch.container
After=meilisearch.container

[Container]
Image=ghcr.io/karakeep-app/karakeep:release
AutoUpdate=registry

# Set container name
ContainerName=karakeep-web

EnvironmentFile=/etc/karakeep/karakeep.env
Environment=MEILI_ADDR=http://meilisearch:7700
Environment=BROWSER_WEB_URL=http://chrome:9222
Environment=OPENAI_API_KEY=${OPENAI}

Volume=hoarder_data:/data
Pod=karakeep.pod

[Service]
Restart=unless-stopped

[Install]
WantedBy=karakeep.pod
