[Unit]
Description=Karakeep Meilisearch Service

[Container]
Image=getmeili/meilisearch:v1.13.3
ContainerName=karakeep-meilisearch
Environment=MEILI_NO_ANALYTICS=true
Volume=hoarder_meilisearch:/meili_data
Pod=karakeep.pod

[Service]
Restart=unless-stopped

[Install]
WantedBy=karakeep.pod
